<h3>cart_item_index</h3>

<% current_user.cart.CartItem.each do |a|%><br>
<%= a.name %>
<%= a.price %>
<%= link_to "remove",cart_item_path(a.id,cart_id: current_user.cart.id),method: :delete %>
<%end%><br>
total price <%= current_user.cart.all_amount %><br>
<%= link_to"pay",pays_path(cart_id: current_user.cart.id,card_id: current_user.card.id,user_id: current_user.id ),method: :post %>
